<div id="profile-div">
  <img src="../assets/andre.jpeg" alt="Perfil" id="profile">
</div>
<div style="display: table; margin: auto;">

    <div class="social-media">

      <a href="https://github.com/Luizdre"><img src="../assets/github1.png" alt="Github icon" class="icon-github"></a>

    </div>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/andré-lima-716177112/"><img src="../assets/linkedin.png" alt="LinkedIN icon" class="icon-linkedin"></a>
    </div>

</div>
<div id="profile-div">
  <p class="name">André Luiz de Lima | Fullstack Dev</p>
</div>
<app-technologies></app-technologies>